@import "../../components/variables/variables.scss";

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  min-width: 280px;
  background-color: rgba($color: $purple-dark, $alpha: 0.8);
  backdrop-filter: saturate(80%) blur(20px);
  z-index: 1;
  padding-top: calc(4% + 75px);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}
.sidebar_menu {
  ul {
    background-color: rgba($color: $purple-light, $alpha: 0.8);
    padding: 1em 3em;
    border-radius: 5px;
    min-width: 200px;
    width: 100%;
    margin: 0 auto;
    li:nth-child(1) {
      svg {
        color: $blue;
      }
    }
    li:hover:nth-child(1) {
      p {
        color: $blue;
        transition: all 0.3s ease-in;
      }
    }
    li:nth-child(2) {
      svg {
        color: $yellow;
      }
    }
    li:hover:nth-child(2) {
      p {
        color: $yellow;
        transition: all 0.3s ease-in;
      }
    }
    li:nth-child(3) {
      svg {
        color: $pink;
      }
    }
    li:hover:nth-child(3) {
      p {
        color: $pink;
        transition: all 0.3s ease-in;
      }
    }
    li {
      padding: 10px 0;
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $purple-lighter;
        letter-spacing: 2px;
        margin-left: 15px;
        transition: all 0.3s ease-in;
      }
    }
  }
}
