@import "../../components/variables/variables.scss";

body {
  background: $purple-dark;
}

.profilelayout {
  background: $purple-dark;
  display: flex;
  overflow: hidden;
}
.profilelayout_sidebar {
  display: none;
}
.profilelayout_sidebar.open {
  display: initial;
}
@include for-desktop {
  .profilelayout_sidebar {
    display: initial;
  }
}
